services:
  timemachine:
    image: mbentley/timemachine:smb
    container_name: timemachine
    network_mode: host
    environment:
      - TM_USERNAME=${TM_USERNAME}
      - TM_GROUPNAME=timemachine
      - PASSWORD=${PASSWORD}
      - TM_UID=1000
      - TM_GID=1000
      - SET_PERMISSIONS=false
      - VOLUME_SIZE_LIMIT=0
    ports:
      - 137:137/udp
      - 138:138/udp
      - 139:139
      - 445:445
    volumes:
      - ${PATH}:/opt/timemachine
    tmpfs:
      - /run/samba
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    restart: unless-stopped
